
<div class="columns is-mobile is-tablet is-desktop">
  <div class="follow-button column is-6-mobile is-6-tablet is-6-desktop">
    <%= form_for(current_user.relationships.build, remote: true) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <div class="colmuns">
        <%= f.submit 'Follow', class: 'btn btn-success btn-block button is-info column is-12 mb-3 follow' %>
      </div>
    <% end %>
  </div>

  <div class="chat-link column is-6-mobile is-6-tablet is-6-desktop">
    <% if @user.id == current_user.id %>
    <% else %>
      <% if @isRoom == true %>
        <%= link_to room_path(@roomId) do %>
          <p class="is-dark chat-button btn btn-block button is-dark column is-12 mb-3 dm-button">DM</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
