<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div>
    <%= link_to user_path(visitor) do %>
        <%= visitor.name %>さんが
    <% end %>
    <% if notification.action=='dm' %>
        <p>あなたにDMを送りました</p>
    <% elsif notification.action=='follow'  %>
        <p>あなたをフォローしました</p>
    <% elsif notification.action=='like'  %>
        <%= link_to 'あなたの投稿', notification.photo, style: "font-weight-bold" %>
        <p>にいいねしました"</p>
    <% else notification.action=='comment'  %>
        <% if notification.photo.user_id == visited.id  %>
          <%= link_to "あなたの投稿", notification.photo, style: "font-weight-bold" %>
          <p>にコメントしました</p>
        <% end %>
    <% end %>
</div>
