<% if current_page?(photo_path(photo)) %>
  <%= link_to photo_like_path(@photo), :style=>"color:gainsboro;", method: :post, remote: true do %>
    <i class="fa fa-heart" aria-hidden="true"></i>
  <% end %>
<% else %>
  <%= link_to photo_like_path(photo), :style=>"color:gainsboro;", method: :post, remote: true do %>
    <i class="fa fa-heart" aria-hidden="true"></i>
  <% end %>

<% end %>
<span><%= photo.likes.count %></span>
