/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "@fortawesome/fontawesome-free/scss/fontawesome";

html,
body {
  //  background-image: image-url('background.jpg');
  //  /* 画像を常に天地左右の中央に配置 */
  //  background-position: center center;

  //  /* 画像をタイル状に繰り返し表示しない */
  //  background-repeat: no-repeat;

  //  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  //  background-attachment: fixed;

  //  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  //  background-size: cover;

  //  /* 背景画像が読み込まれる前に表示される背景のカラー */
  // //  background-color: white;
  //  height: 100%;
  background-color: #f5f5f5;
}

.container {
   padding: 100px 0 50px 0;
   min-height: 100%;
}

.logo {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  text-align: center;
  margin-top: 20px;
}

body > div.container {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}

.notifications {
  color: white;
  text-align: center;

  .notice {
    background-color:hsl(141, 53%, 53%);
  }

  .alert {
    background-color: hsl(348, 100%, 61%);
  }
}

.btn {
  //  background-color: #007bff;
   color: black;
}

hr {
  background-color: #DBDBDB;
  margin: 0;
  height: 1px;
}

.navbar {
  background-color: #6bb8ff;
}

.navbar-item {
  padding: 8px 18px;
}

nav .Logo {
  font-family: 'Homemade Apple', cursive;
  margin-left: 200px;

}

.field_with_errors {
  display: contents;
  // @extend .has-error;
}

#error_explanation {
  background-color: pink	;
}

nav .Logo .navbar-item:hover{
  // color: blue;
  background-color: #6bb8ff;
}

 nav .Logo .navbar-item {
  line-height: 36px;
  color: black;
  font-size: 23px;
 }

 .nav-icon-image {
  width: 100%;
  height: 50px;
  //サイズ指定
  // border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.navbar-end {
  padding-right: 250px;
}

.image .navbar-item {
  padding: 0;
  margin: 9px 5px 3px 6px;
  object-fit: cover;
}

.background {
  // background-color: black;
  background-color: #f5f5f5;
}

//タブレット
@media screen and (min-width: 769px) and ( max-width:1024px) {
  .navbar-brand {
    justify-content: right;
  }

  .navbar-end {
    padding-right: 50px;
  }

  nav .Logo {
    // justify-content: center;
    margin-left: 20px;
    float: left;
   }
}

//スマホ
@media screen and (max-width: 768px) {
  .navbar-brand {
    justify-content: center;
  }

  .navbar-brand .fa-lg{
    font-size: 1rem!important;
  }

  nav .Logo .navbar-item {
    font-size: 16px;
   }

   .navbar-item {
    padding: 8px 12px;
  }

  .none {
    display: none;
  }

   .navbar-end {
    padding-right: 30px;
    justify-content: right;
   }

   nav .Logo {
    float: left;
    margin-left: 20px;
   }

   .edit-page .input-text-name {
     text-align: left!important;
     padding: 15px 0 0 0;
   }

   .edit-page .actions {
     margin-top: 20px;
   }

   .edit-page .acount-delete {
     text-align: left!important;
     margin-top: 10px;
   }

   .edit-page .update {
     margin:0 20px 20px 0;
     width: 90%;
   }

   .edit-page .edit-image {
     width: 100%;
   }

   .edit-page .delete-button {
    justify-content: center!important;
  }

}


//userのeditページ
.edit-page {
  padding: 30px 100px;
  border: 1px solid #DBDBDB;
}

.edit-page .actions {
  padding: 0;
  margin: 20px 0 0 30px;
}

.edit-page .update {
  // float: left;
  // max-width: 40%;
  // margin-right: 100px;
}

.edit-page .logout {
  // float: left;
  // justify-content: right;
  margin-right: 30px;
  // width: 20%;
}

.edit-page .delete-button {
  justify-content: right;
}

.edit-page .account-delete {
  margin-left: 20px;
}

.edit-page .delete-button .column{
  padding: 8px 16px 6px 16px;
}



.columns:not(:last-child) {
  margin-bottom: 0;
}

.dm {
  background-color: white !important;
}


.dm-text .input {
  float: left;
}

.dm-content {
  margin: 30px 0 0 30px;
}

.dm-header {
  margin: 10px 0;
}

.like-button {
  float: left;
}
