// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sticky {
  position:sticky;
}

.user-profile tr {
  position: fixed;
}

.user-profile .user-profile-name {
  text-align: center!important;
}

@media screen and (max-width: 768px) {
  .home {
    border: 2px black;
  }
}

.photo-icon {
  display: flex;
}

.photo-icon-image .image {
  margin: 10px 13px;
  object-fit: cover;
}

.photo-icon-name {
  display: flex;
  align-items: center;
}

.photo-icon-image .is-rounded {
  border-radius: 50px !important;
}
