// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sticky {
  position:sticky;
}


@media screen and (max-width: 768px) {
  .home {
    border: 2px black;
  }
}

.photo-icon {
  display: flex;
}

.photo-icon-image .image {
  margin: 10px 13px;
}

.photo-icon-name {
  display: flex;
  align-items: center;
}

.photo-icon-image .is-rounded {
  border-radius: 50px !important;
}

.card-like {
  float: right;
}
