// Place all the styles related to the ranks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rank.logo {
  text-align: center;
  margin-top: 20px;
}

.user-profile .user-profile-name {
  text-align: center!important;
}
