// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.columns:last-child {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 768px) {
  .follow-button {
  }

  .follow-button .follow {
    width: 90%;
    margin-left: 20px;
  }

  .chat-link .dm-button {
    width: 90%;
  }
}
