.session-new {
  // width: 300px;
}

.session-new .button{
  width: 100%;
}

.session-new .title{
  font-size: 30px;
}

.field {
  padding: 0 15px;
}

.login-logo {
  display: flex;
}

.actions {
  padding: 8px 15px;
}
