// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.icon_image {
  width: 200px;
  height: 400px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.user-card {
  float: left;
  padding: 0;
}

.chat-button {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}

.feature {
  float: left;
  margin-right: 10px;
}

.feature-box {
  overflow: hidden;
}
