// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  // line-height: ;
}

.icon_image {
  width: 200px;
  height: 400px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.user-card {
  float: left;
  padding: 0;
  line-height: 0;
}

.chat-button {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}

.feature {
  float: left;
  margin-right: 10px;
}

.feature-box {
  overflow: hidden;
}

.columns:last-child {
  margin-bottom: 30px;
  // padding-bottom: -40px;
}

.card-image .img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  line-height: 0;
}

.user-page {
  // height: 700px;
}

.user-page table {
  margin: 40px 0px 20px 0px;
}

.user-page .user_icon_image {
  margin-left: 50px;
  // width: 100%;
  // text-align: center;
  // width: 100%;
}

.user-page .image .image {
  height: 160px;
  width: 160px;
  object-fit: cover;
  // margin: 0 auto;
}

.user-page .profile-word {
  // width: 75%;

}

.user-page .features {
  padding-left: 50px;
  // justify-content: center;
}

@media screen and (max-width: 768px) {
  .user-page .image .image {
    height: 80px;
    width: 80px;
  }

  .user-page .images {
    margin-right: 0px;
  }

  .user-page .features {
    padding-right: 50px;
    padding-left: 10px;

  }

  .user-page .user_icon_image {
    float: left;
    margin-left: 100px;
  }

  .column.is-2-mobile {
    width: auto;
  }

  .user-page .profile-word {
    width: 80%;
  }

  .user-page .favarite-comic {
    width: 80%;
  }

  .features .title {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .user-page .buttons{
    justify-content: center;
  }

  .user-page .buttons .button {
    width: 200px;
    margin: 0 auto !important;

  }
}
